body {
    background-color: #f1f1f1;
}

form {
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #aaa;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.remember-me label {
    display: inline;
    font-size: 14px;
}

.pulsante-submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.pulsante-submit:hover {
    background-color: #3e8e41;
}